.button1 {
    background-color: chartreuse;
    color: crimson;
}

.button2 {
    background-color: chartreuse;
    color: crimson;
}

.button3 {
    background-color: chartreuse;
    color: crimson;
}

.button4 {
    background-color: chartreuse;
    color: crimson;
}

.button5 {
    background-color: chartreuse;
    color: crimson;
}

.button6 {
    background-color: chartreuse;
    color: crimson;
}

